{% layout "layout.liquid" %} 

{% block content %}
<h1>Reading List</h1>

<div class="books">
{% for book in books %}

<div>
    {{book.title}}
    <a href="/books/{{book._id}}"><img src="{{book.img}}"></a>
    <br>
    {{book.author}}
    <br>
    {{book.year}}
</div>






{% endfor %}

</div>

<a href="/books/new"><button>Add a New Book</button></a>
{% endblock %}