{% layout "layout.liquid" %} 

{% block content %}
<h1>Books I've Read</h1>

<div class="books">
{% for book in books %}

<div>
    <div class="bookTitle">{{book.title}}</div>
    <a href="/books/{{book._id}}"><img src="{{book.img}}"></a>
    <br>
    {{book.author}}
    <br>
    {{book.year}}
</div>






{% endfor %}

</div>

<a href="/books/finished"><button>Add a New Book</button></a>
{% endblock %}